nav{
  text-align: center;
  background-color: royalblue;
  color: white;
  padding: 5px;
  border: 2px solid black
}
.header1{
 background-color: rgb(187, 178, 178);
 padding: 30px;
 text-align: center;
 box-shadow: 0 0 10px rgba(69, 67, 67, 0.756);
}
.header1 >a{
  text-decoration: none;
  color: black;
  margin: 20px;
}


.container{
  background-color: rgb(232, 212, 213);
  width: 70%;
  margin: 10px;
  min-height: 100vh;
}
.container >form{
  display: flex;
  flex-direction: column;
}
.container >form input,textarea ,button {
  padding: 20px;
  border: 1px solid  rgb(60, 58, 58);
  border-radius: 5px;
  margin: 30px;
}
button {
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}
.task{
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}
.task > div{
 width: 100%;
}
.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task button:hover{
  background-color: red;
}
.contact{
  background-color: crimson;
  width: 100%;
  height: 100vh;
}
.about{
  background-color: rgba(168, 145, 149, 0.642);
  width: 100%;
  height: 100vh;
}
.home1{
  background-color: rgb(69, 64, 65);
  width: 100%;
  height: 100vh;
}
footer{
  background-color: red;
  height: 10vh;
}
.sachin{
  background-color: rgb(87, 8, 156);
  width: 100%;
  height: 100vh;
}



